.hero
{
    min-height:90vh;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    background:linear-gradient(red,blue);
    transition:.2s ease;
    animation:coloranim 4s linear infinite;
    -webkit-background-clip:text;
    text-align:center;

}

@keyframes coloranim
{
    0%
    {
        filter:hue-rotate(0deg);
    }

    50%
    {
        filter:hue-rotate(180deg);
    }

    100%
    {
        filter:hue-rotate(360deg);

    }
}

.hero h1
{
    text-shadow:0 0 4px white;
}

.hero h1 span
{
    text-shadow:0 0 0px white;
    font-size:3rem;
    color:rgba(0,100,255,0.7);
    position:relative;
}

.hero h1 span::after
{
    position:absolute;
    top:0;
    right:0;
    content:'';
    width:100px;
    height:100px;
    background:rgba(0,0,255,.6);
    filter:blur(60px)
}


.hero h1 span::before
{
    position:absolute;
    top:0;
    left:-10%;
    content:'';
    width:100px;
    height:50px;
    background:rgba(0,0,255,.6);
    filter:blur(60px)
}

.hero p
{
    padding:0 15%;
    color:transparent;
}

.hero button
{
    padding:10px 40px;
    margin:2% 0;
    background:white;
    border:none;
    color:black;
    font-size:14px;
    border-radius:50px;
    cursor:pointer;
}

.hero button:hover
{
    opacity:.9;
}
